{% extends 'entries/base.html'  %}

{% block content %}
       
 <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Awards</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">In this website you can like or comment on your favourite project</h2>
                        <a class="btn btn-primary" href="{ url 'register'}">Signup</a>
                    </div>
                </div>
            </div>
        </header>
        
          {% for entry in posts %}
          <div class="card mb-4 mt-4 container shadow-lg p-3 mb-5 d-flex " style="width: 1000px; height:fit-content">
            <div class="card-body">
              <h3 class="card-title">{{entry.entry_title}}</h3>
              <p class="card-text">{{ entry.name}}</p>
              <img src="{{entry.userpic.url}}" style="width:700px; height:fit-content">
              <p class="card-text">{{entry.description }}</p>
            </div>
             {{entry.entry_date | time}}-by: {{entry.user}} {{entry.likes}} {{entry.likescount}}
             <hr>
              <h4>Comment</h4>
              {% if not entry.comments.all %}
                 No comment yet <a href="{% url 'comment' entry.pk %}">comment</a>
              {% else %} 
              <a href="{% url 'comment' entry.pk %}">Add comment</a>
                {% for comment in entry.comments.all%}
                
                
                {{ comment.body }} by - <strong>{{ comment.name}} - {{ comment.date_added }}</strong>
                
                {% endfor %}
              
              {% endif %}

            </div


            
          
              
              
            
            
            
          </div>
          {% endfor %}
          
        </div>
        
        
       

{% endblock %}     