{% extends 'entries/base.html'  %}

{% block content %}
       
 <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Awards</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">In this website you can like or comment on your favourite project</h2>
                        <a class="btn btn-primary" href="{ url 'register'}">Signup</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="col-md-8">
          {% for entry in posts %}
          <div class="card mb-4 mt-4" style="width: 350px; height:fit-content">
            <div class="card-body">
              <h3 class="card-title">{{entry.entry_title}}</h3>
              <p class="card-text">{{ entry.name}}</p>
              <img src="{{entry.userpic.url}}" style="width: 300px; height: 150px">
              <p class="card-text">{{entry.description }}</p>
              

            </div>
            <div class="card-footer text-muted">
              {{entry.entry_date | time}}
              <span class="text-info mr-2">{{entry.likes}} {{entry.likescount}} by: {{entry.user}}</span>
            
            </div>

          </div>
          {% endfor %}
        </div>
        <!-- About-->
        
       

{% endblock %}     