{% extends 'entries/base.html'  %}

{% block content %}
       
 <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Awards</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">In this website you can like or comment on your favourite project</h2>
                        <a class="btn btn-primary" href="#about">Signup</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        
       

{% endblock %}     